<div class="demo">
  <h2>在线演示</h2>

  <div class="show datetime-picker">
    <form class="form-horizontal" role="form">
      <h3>示例</h3>
      <div class="form-group">
        <label class="col-sm-3 control-label">日期</label>
        <div class="col-sm-9">
          {{datetime-picker class='form-control' format='yyyy-mm-dd' minView=2}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">日期时间</label>
        <div class="col-sm-9">
          {{datetime-picker class='form-control' format='yyyy-mm-dd hh:ii:ss'}}
        </div>
      </div>
    </form>
  </div>

  <h3>示例 @ jsbin.com [TODO]</h3>
  <script src="http://static.jsbin.com/js/embed.js"></script>
</div>
