<div class="demo">
  <h2>在线演示</h2>

  <h3>示例</h3>
  <div class="show side-list">
    {{#side-list content=model height=100 width=200 rowHeight=45}}
      <a href='javascript:void(0);'>
        <i {{bind-attr class=icon}}></i>
        {{text}}
      </a>
    {{/side-list}}
  </div>

  <h3>示例 @ jsbin.com [TODO]</h3>
  <script src="http://static.jsbin.com/js/embed.js"></script>
</div>
