<div class="registrations-success">
  <h2>用户注册</h2>
  <div>
    <div class="alert alert-success">
      <p>
        您好！您的注册申请已经成功提交，请与管理员联系。待身份审核通过后，便可使用您的账号登录系统。
      </p>
      <p>
        <strong>返回{{#link-to 'login'}}登录{{/link-to}}。</strong>
      </p>
    </div>
  </div>
</div>

