<div class="demo">
  <h2>在线演示</h2>

  <h3>示例</h3>
  {{login-form identification=login password=password title="用户登录" copyright="&copy; 2013-2014 EmberJS.CN" supportedBrowers=supportedBrowers}}

  <h3>示例 @ jsbin.com</h3>
  <a target="_blank" class="jsbin-embed" href="http://emberjs.jsbin.com/sajac/1/embed?html,js,output">Ember Menglifang - 登录窗口</a>
  <script src="http://static.jsbin.com/js/embed.js"></script>
</div>
