{{#view Menglifang.Widgets.AppView title=title sidebar=sidebar}}
  {{log breadcrumbs}}
  {{main-toolbar items=breadcrumbs links=toolbarLinks}}

  <div class="mlf-container">
    {{outlet}}
  </div>
{{/view}}
