<div class="col-md-6 readme">
  说明
</div>
<div class="col-md-6 demo">
  <form class="form-horizontal" role="form">
    <h2>基于Bootstrap的时间选择器</h2>
    <div class="form-group">
      <label class="col-sm-3 control-label">日期</label>
      <div class="col-sm-9">
        {{datetime-picker class='form-control' format='yyyy-mm-dd' minView=2}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">日期时间</label>
      <div class="col-sm-9">
        {{datetime-picker class='form-control' format='yyyy-mm-dd hh:ii:ss'}}
      </div>
    </div>
  </form>
</div>
