<div class="col-md-6 readme">
  说明
</div>
<div class="col-md-6 demo">
  <form class="form-horizontal" role="form">
    <h2>基于Ember Table的表格</h2>

    <h4>基本表格</h4>
    {{basic-grid hasFooter=false columns=columns content=content}}
  </form>
</div>
