<div class="col-md-6 readme">
  说明
</div>
<div class="col-md-6 demo">
  {{login-form identification=identification password=password
  title="用户登录" copyright="&copy; 2013-2014 EmberJS.CN" supportedBrowers=supportedBrowers action='authenticate'}}
</div>
