<div class="col-md-6 readme">
  说明
</div>
<div class="col-md-6 demo">
  <h3>基础Select2</h3>
  {{basic-select2 options=options}}

  <h4>分组选项</h4>
  {{basic-select2 options=groupedOptions grouped=true}}
</div>
