@import "variables";
@import "prefixer";

@import "components/login-form";
@import "components/list";

@import "sidebar";

html, body {
  height: 100%;
}

.app { height: 100%; }

a:hover {
  text-decoration: none;
}

.tooltip {
  min-width: 100px !important;
}
