<ol class="breadcrumb pull-left">
  {{#each view.parentItems}}
    <li>
      {{#if model}}
        {{#link-to route model.id}}
          {{name}}
        {{/link-to}}
      {{else}}
        {{#link-to route}}
          {{name}}
        {{/link-to}}
      {{/if}}
    </li>
  {{/each}}
  <li class="active">{{view.activeItem.name}}</li>
</ol>
