<ol class="breadcrumb pull-left">
  {{#each view.parentItems}}
    <li>
      {{#link-to route}}
        {{text}}
      {{/link-to}}
    </li>
  {{/each}}
  <li class="active">{{view.activeItem.text}}</li>
</ol>

<ul class="links pull-right">
  {{#each view.links}}
    <li>
      {{#link-to route}}
        <i {{bind-attr class=icon}}></i>
        {{text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
