@import '../../widgets/less/menglifang-widgets';
@import './overrides/bootstrap';
@import './overrides/select2';

.mlf-authenticated {
  height: 100%;
}

.mlf-app { height: 100%; }

.mlf-app-main {
  height: 100%;
}

.mlf-main-content {
  height: calc(~"100% - 60px");
  .form-fluid {
    height: 100%;
    overflow: auto;
  }
}

.mlf-sidebar {
  .starter {
    ul.dropdown-menu {
      top: -25px !important;
    }
  }
}

.mlf-side-list-item {
  .name {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
  }
  .email {
    font-style: italic;
    height: 25px;
    line-height: 25px;
  }
}

.registrations-new, .registrations-success {
  width: 800px;
  margin: 0 auto;
  margin-top: 60px;

  h2 {
    background: @blue;
    color: @white;
    margin: 0px;
    padding: 20px 30px;
  }
  form {
    padding-top: 20px;
    border: 1px solid @sliver;
  }
  > div {
    padding-top: 20px;
    border: 1px solid @sliver;

    .alert {
      margin: 30px;
    }
  }
}
