<ul class="mlf-toolbar-links pull-right">
  {{#each toolbarLinks}}
    <li>
      {{#link-to route}}
        <i {{bind-attr class=icon}}></i>
        {{text}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
