<div class="col-md-6 readme">
  说明
</div>
<div class="col-md-6 demo">
  {{login-form identification=identification password=password title="用户登录" copyright="&copy; 2011-2014 北京梦立方网络科技有限公司" supportedBrowers=supportedBrowers action='authenticate'}}
</div>
